@use "/src/styles/colors"
@use "/src/styles/mixins"
@use "/src/styles/breakpoints"

.nav-link
  text-decoration: none
  color: colors.$light
  font-family: Poppins, sans-serif
  font-weight: 500
  font-size: 14px

  &_active
    @extend .nav-link
    color: colors.$accent