@use "/src/styles/colors"
@use "/src/styles/mixins"
@use "/src/styles/breakpoints"

.button
  width: 200px
  height: 55px
  border-radius: 100px
  font-family: Montserrat, sans-serif
  font-size: 14px
  font-weight: 600
  border: 0
  cursor: pointer

  &_primary
    background: colors.$accent
    color: colors.$light

  &_secondary
    background: colors.$light
    color: colors.$dark
