.main-nav
  display: flex
  gap: 40px
  margin-left: auto

  &_homepage
    gap: 21px

  &__type_sidebar
    display: flex
    flex-direction: column
    padding: 10px 20px
    gap: 10px

    .nav-link
      display: block

  &__type_footer
    display: flex
    flex-direction: column
    gap: 5px
    margin: 0

